@use '../abstracts' as *;

.bg {
  &--light {
    background-color: $light-bg;
    color: $dark-fnt;
  }
  &--dark {
    background-color: $dark-bg;
    color: $light-fnt;
  }
  &--darkest {
    background-color: $darkest-bg;
    color: $light-fnt;
  }
  &--bright {
    background-color: $bright-bg;
    color: $light-fnt;
  }
}